
<h1> <b> Welcome to Store Front! </b> </h1>

<h2> <font color="white"> <center> <b> Meet The Team </b> </center> </font> <h2>
  
  <div class="row">
  
    <div> <center> <img src= "http://bevitalsob.com/wp-content/uploads/2015/03/10702197_10152339063732097_6321142412848799474_n-1.jpg" class="img-rounded" height = "300">  </ center> <center> Jarrod </center> </div>
 
  </div>


