
<h1> <b> Welcome to College Hunt! </b> </h1>

<h2> <font color="white"> <center> <b> Meet our Team </b> </center> </font> <h2>
  
  <div class="row">
  <div class="col-xs-6 col-md-4"> <img src= "http://bevitalsob.com/wp-content/uploads/2015/03/1292316_10151982596868132_770114747_o.jpg" class="img-rounded" height = "300"> <center> Reshod  </center> </div>
    <div class="col-xs-6 col-md-4"> <img src= "http://bevitalsob.com/wp-content/uploads/2015/03/10702197_10152339063732097_6321142412848799474_n-1.jpg" class="img-rounded" height = "300"> <center> Jarrod </center> </div>
  <div class="col-xs-6 col-md-4"> <img src= "http://www.herbergertheater.org/wp-content/uploads/2014/12/Image-Coming-Soon-Placeholder.png" class="img-rounded" height = "300"> <center> Cam </center> </div>
</div>
  </div>


  <p> <center> Our Job is to be the middle man between your college housing hunt and realtors.
  We attacked this problem from two prespectives: Landlords want great residents and Tenants want a great home <center> </p>
